body{
    min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}
.responsive {position: absolute; top: 0px; left: 0px;
  max-width: 100%;
  height: auto; filter: brightness(30%);
 }
.div{
  position: relative;
  left: 0px;
  top: -52;
  width: 100%;
  height: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0.7; float: inline-end;
}
.log{position: absolute;top: 50px;
  left: 200px;
  width: 20%;
  max-width: 20%;
  height: auto;
}
p{
  position: absolute;
  left: 275px;top: 85px;letter-spacing: 0.7px;
  color: #8CA23B;font-size: 10px;
}
#navbar{
  display:block;  
}
#merch{
  position: absolute; left: 700px; top: 70px;
  color: #ffffff; 
  font-size: 20px;
}
#f{
  position: absolute; left: 850px; top: 70px;
  color: #ffffff; 
  font-size: 20px;
}
#con{
  position: absolute; left: 950px; top: 70px;
  color: #ffffff; 
  font-size: 20px;
}
#blo{
  position: absolute; left: 1100px; top: 70px;
  color: #ffffff; 
  font-size: 20px;
}
.logout{
  position: absolute; left: 1200px; top: 60px; border-radius:3px ;
  background-color: #8CA23B; width: 200px; height: 60px; 
  color: #ffffff;font-size: 22px; font-weight: bold; 
}
.logout:hover{
  background-color: orange;
}
.buy{
  font-size: 25px; font-weight: bold;
  color: #ffffff; width: 500px; top: 130px; left: 205px;
}
.ent{font-size: 15px; font-weight: bold;
  color: #ffffff;  top: 230px; left: 205px;
}
#num{ position: absolute;
  height: 44px;
  width: 300px;
  left: 205px;
  top: 270px;
 padding: 20px;font-size: 25px;
  }
  ::placeholder{
    font-weight: bold; font-size: 30px; text-align: start;
  }
  #button{position: absolute;
    height: 44px;
    width: 300px;
    left: 205px;
    top: 320px;
    color:rgb(255, 255, 255); background-color: #8CA23B;
    font-size: 25px;font-weight: bold;
  }
  #button:hover{
    background-color: orange;
  }
  h2{
    font-size: 20px; font-weight: bold;
    color: #ffffff; width: 500px; position: absolute; top: 360px; left: 205px;   
  }
  section p1 {
    font-size: 40px; font-weight: bold;
    color: #020202; width: 500px; position: absolute; top: 500px; left: 205px;   
    
  }